<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.56.1:81/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>expresslocal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DarajaApi.Models.mpesa_setupEntities1" Order="3" Enabled="False">
          <Destination Path="Data Source=LAPTOP-NDTCTAI7\SQLEXPRESS;Initial Catalog=mpesa_setup;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DarajaApi.Models.mpesa_setupEntities1, DarajaApi" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="mpesa_setupEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=LAPTOP-NDTCTAI7\SQLEXPRESS;Initial Catalog=mpesa_setup;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-NDTCTAI7\SQLEXPRESS;Initial Catalog=mpesa_setup;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\mpesa_setupEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DarajaModel.csdl|res://*/Models.DarajaModel.ssdl|res://*/Models.DarajaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-NDTCTAI7\SQLEXPRESS;initial catalog=mpesa_setup;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DarajaApi.Models.mpesa_setupEntities1-Web.config Connection String">
      <ParameterValue>Data Source=LAPTOP-NDTCTAI7\SQLEXPRESS;Initial Catalog=mpesa_setup;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="mpesa_setupEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DarajaModel.csdl|res://*/Models.DarajaModel.ssdl|res://*/Models.DarajaModel.msl;provider=System.Data.SqlClient;provider connection string="data source=LAPTOP-NDTCTAI7\SQLEXPRESS;initial catalog=mpesa_setup;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="mpesa_setupEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DarajaModel.csdl|res://*/Models.DarajaModel.ssdl|res://*/Models.DarajaModel.msl;provider=System.Data.SqlClient;provider connection string="data source=LAPTOP-NDTCTAI7\SQLEXPRESS;initial catalog=mpesa_setup;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DarajaApi.Models.mpesa_setupEntities1" />
  </ItemGroup>
</Project>